html {
  height: 100%;
}

body {font-family: 'Hanalei Fill', cursive;
font-family: 'Kirang Haerang', cursive;
  background:radial-gradient(palegreen 80%, yellow 20%);
  min-height: 100%;
  margin: 0;
}


.button {
  text-align: left;
  background-color: orange;
  border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 21px;
    margin: 4px 2px;
    cursor: pointer
}

h1 {
  background-image: url("https://images.unsplash.com/photo-1510591509098-f4fdc6d0ff04?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ab7082dc38626751767a3fd846a8919c&auto=format&fit=crop&w=1050&q=80");
    background-clip:border-box;
    background-size:contain;
    border: none;
    padding: 62px;text-align: center;
text-shadow: 5px 5px black;
color: white;
font-size: 58px;
}


h2 {color: red}

h3 {color: darkgreen}
